.button{
    width: 100%;
    background-color: orange;
    display: flex;
    padding: 30px;
}
.orange-button{
    width: 150px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50px;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
}