.organizmo-contenedor {
    border: 2px solid black;
    border-radius: 10px;
    width: 25%;

    overflow: hidden;

}

.orange {
    background-color: var(--Bright-orange);
}

.green {
    background-color: var(--Dark-cyan);
}

.dark-green {
    background-color: var(--Very-dark-cyan);
}

.rojo {
    background-color: var(--red-light);
}

.rosa {
    background-color: var(--pink-light);
}

.violeta {
    background-color: var(--violet-light);
}